@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700&family=Oswald:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700&family=Oswald:wght@300;400;500;600&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito';
}


:root{
  /* colors */
  --green: #066F14;
  --lightgreen: #066F14B2;
  --lightBlue: #EAF2E5;
  --lightPurple: #F0EBE6;;
  --aquaBlue: #DFFFE3;
  --insta: #00000057;
  --white:#FFFF;

  /* padding */
  --bigpadding: 16px 32px;
  --middlepadding: 12px 16px;
  --smallpadding: 11px 16px;

  /* fontSize */
  --bigButtonSize: 18px;
  --smallButtonSize: 14px;
}

.li::after {
  content: "";
  width: 0px;
  height: 1px;
  background: var(--lightgreen);
  box-shadow: 0 0 2px black;
  border-radius: 10px;
  position: absolute;
  bottom: -1px;
  right: 0%;
  transition: .3s;
}
.li:hover:after {
  width: 100%;
  left: 0%;
}